.bookmarkCard {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  padding: 10px 20px;
  margin: 0px 10px;
}

.buttonDefault {
  font-size: larger;
  padding: 15px 30px;
  margin: 20px;
  border-radius: 100px;
  transition: background-color 0.2s;
}
.allBookmarks {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.buttonDefault:hover {
  background-color: green;
  color: white;
}
